<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<style>
  @media print
  {
    .page-break  { display:block; page-break-before:always; }
    .page-break-after { display:block; clear:both; page-break-after:always; }
  }
</style>

<div style='width: 842px;font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;padding: 40px;'>
  <div class="page-break-after">
  <div style='float:left;display: block;color: #cecece; position: relative;'>
    <div>
      <span style='margin-right:20px;float:left;display: inline-block'>REFERENCE: <%= reference %></span>
      <% if submitted %>
          <span style="margin-right:20px;float:left;display: inline-block">ISSUED: <%= submitted %></span>
      <% end %>
    </div>
  </div>
  <div style='clear:both'></div>
  <div style='float:left;display: block;width:25%; '>
    <% if professional['profile']['image_url'] %>
      <img src=<%= professional['profile']['image_url'] %> style='height:100px;margin:50px 0px' />
    <% end %>
    <br/>
    <div>
      <h2>RECIPIENT</h2>
      <div>
        <h3 style='color:#616161'>
          <% if client['profile'] %>
              <% if client['profile']['first_name'] %>
                  <%= client['profile']['first_name'].upcase %>
              <% end %>

              <% if client['profile']['last_name'] %>
                  <%= client['profile']['last_name'].upcase %>
              <% end %>
          <% end %>
        </h3>

        <div style="color:#616161;">
          <% if client['address'] %>
            <%= client['address']['street_address'] if client['address']['street_address'].present? %>
            <br>
            <%= client['address']['city'] if client['address']['city'].present? %>
            <br>
            <%= client['address']['postcode'] if client['address']['postcode'].present? %>
            <br>
            <%= client['address']['country'] if client['address']['country'].present? %>
          <% end %>
        </div>
        <br/>
        <div style="color:#616161;">
          <%= client['profile']['email'] if client['profile']['email'].present? %>
          <br/>
          <%= client['profile']['phone_number'] if client['profile']['phone_number'].present? && client['profile']['phone_number'].length > 5 %>
        </div>
      </div>
    </div>

  </div>

  <div style='float:right;display: block;width:75%'>
    <div style='width: 25%;float:right;text-align: right'>
      <h3 style='color:#616161'>
        <%= professional['profile']['first_name'].upcase %> <%= professional['profile']['last_name'].upcase %>
      </h3>
      <div style="color:#616161;">
          <%= professional['profile']['company_name'] if professional['profile']['company_name'].present? %>
          <br/>
        <% if professional['address'] %>

          <%= professional['address']['address_1'] if professional['address']['address_1'].present? %>
          <br/>
          <%= professional['address']['address_2'] if professional['address']['address_2'].present? %>
          <br/>
          <%= professional['address']['city'] if professional['address']['city'].present? %>
          <br/>
          <%= professional['address']['postcode'] if professional['address']['postcode'].present? %>
          <br/>
        <% end %>

      <%= "VAT: #{professional['profile']['company_vat_number']}" if professional['profile']['company_vat_number'].present? %>
      </div>
      <br/><br/>
      <div style="color:#616161;text-align: right">
        <% if professional['profile'] %>
          <%= professional['profile']['email'] if professional['profile']['email'].present? %>
          <br/>
          <%= professional['profile']['phone_number'] if professional['profile']['phone_number'].present? && professional['profile']['phone_number'].length > 5 %>
        <% end %>
      </div>

    </div>

    <br/>
    <div style='clear:both';></div>
    <div style='float: right;width:80%;margin:20px;color:#616161;margin-top: 50px'>
      <%= summary %>
    </div>
  </div>
  <div style='clear: both'></div>
  <div>
    <h2>OVERVIEW</h2>

    <div style='width: 45%;float:left;'>
      <h3 style='color:#616161'>ROOM OVERVIEW</h3>
      <table style='border-collapse:collapse;width:100%;color:#616161'>
        <% if room_overview.present? %>
            <% room_overview.each_with_index do |(name, price), index| %>
                <% grey_background = index.odd? ? 'background:#f5f5f5;-webkit-print-color-adjust:exact;' : '' %>
                <tr style=<%= grey_background %>>
                  <td style='padding: 7px 0px;'><%= name %></td>
                  <td style="text-align:right;"><%= number_to_currency(price.to_f / 100, unit: "£", precision: 0) %></td>
                </tr>
            <% end %>
        <% end %>
      </table>

    </div>

    <div style='width: 45%;float:right;'>
      <h3 style='color:#616161'>TRADE OVERVIEW</h3>
      <table style='border-collapse:collapse;width:100%;color:#616161'>
        <% if room_overview.present? %>
          <% trade_overview.each_with_index do |(name, price), index| %>
            <% grey_background = index.odd? ? 'background:#f5f5f5;-webkit-print-color-adjust:exact;' : '' %>
            <tr style=<%= grey_background %>>
              <td style='padding: 7px 0px;'><%= name %></td>
              <td style="text-align:right;"><%= number_to_currency(price.to_f / 100, unit: "£", precision: 0) %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <br/>
    </div>

  </div>
  <div style='clear:both'></div>
  <div style="float: right;text-align: right; margin-top: 20px;margin-bottom:30px">
    <div style="padding:3px 0px;">Total: <%= number_to_currency(total, unit: "£", precision: 0) %></div>
    <div style="padding:3px 0px;">VAT(20%): <%= number_to_currency((vat), unit: "£", precision: 0) %></div>
    <div style="font-size: 1.2em;padding:3px 0px;font-weight:900;">
      Total inc VAT: <%= number_to_currency((total + vat), unit: "£", precision: 0) %>
    </div>
  </div>
  <div style='clear:both'></div>
  <div style='clear:both'></div>
  <div>
    <% if guarantee %>
      <span>
        <span style="font-weight: 900">
          Guarretee Length
        </span>
        - <%= pluralize(guarantee, 'million') %>
      </span>
    <% end %>
    <% if insurance %>
      <span style="margin-left: 30px">
        <span style="font-weight: 900">
          Insurance Amount
        </span>
        - <%= pluralize(insurance, 'year') %>
      </span>
    <% end %>
    <!---Payment--->
    <!---Deposit--->
  </div>
  </div>
  <p style='page-break-after:always;'></p>
  <div class="page-break"></div>
  <div style="margin-top:40px">
    <h3>QUOTE</h3>
    <div>
      <% if sections.present? %>
        <% sections.each do |section| %>
          <div style="margin-top:40px;margin-bottom:10px">
            <span style='font-size: 1.2em;font-weight:900;'><%= section['name'] %></span>
            <!-- <span>Floor Area 20m2 - Wall Area 43.2m2 | L:4m x W:5m x H:2.4m</span> -->
            <span style='float: right'><%= number_to_currency(section['total'].to_f / 100, unit: "£", precision: 0) %></span>
            <div style='clear:both'></div>
            <table style='width:100%;font-size:0.8em;'>
              <th style='color:#999;font-size:0.9em;font-weight:400;text-align: left;padding: 4px 8px;'>Item</th>
              <th style='color:#999;font-size:0.9em;font-weight:400;padding: 4px 8px;'>Qty</th>
              <th style='color:#999;font-size:0.9em;font-weight:400;padding: 4px 8px;'>Rate</th>
              <th style='color:#999;font-size:0.9em;font-weight:400;padding: 4px 8px;'>Total</th>
              <% section['tasks_by_action'].each do |action, info| %>
                  <tr style='background:#dadada;-webkit-print-color-adjust: exact;'>
                    <td style='padding: 10px 8px;'><%= action %></td>
                    <td style='padding: 10px 8px;text-align: center;'></td>
                    <td style='padding: 10px 8px;text-align: center;'></td>
                    <td style='padding: 10px 8px;text-align: center;'><%= number_to_currency(info['total'].to_f / 100, unit: "£", precision: 0) %></td>
                  </tr>
                <% info[:tasks].each do |task| %>
                    <tr>
                      <td style='padding: 10px 8px;width: 70%'>&bull; <%= task['name'] %></td>
                      <td style='padding: 10px 8px;text-align: center;'><%= task['quantity'] %></td>
                      <td style='padding: 10px 8px;text-align: center;'><%= number_to_currency(task['price'].to_f / 100, unit: "£", precision: 0) %></td>
                      <td style='padding: 10px 8px;text-align: center;'><%= number_to_currency(task['total'].to_f / 100, unit: "£", precision: 0) %></td>
                    </tr>
                <% end %>
              <% end %>
            </table>
          </div>
        <% end %>
      <% end %>
    </div>
    <div style='clear:both'></div>
    <div style="float: right;text-align: right; margin-top: 20px;margin-bottom:30px">
      <div style="padding:3px 0px;">Total: <%= number_to_currency(total, unit: "£", precision: 0) %></div>
      <div style="padding:3px 0px;">VAT(20%): <%= number_to_currency((vat), unit: "£", precision: 0) %></div>
      <div style="font-size: 1.2em;padding:3px 0px;font-weight:900;">
        Total inc VAT: <%= number_to_currency((total + vat), unit: "£", precision: 0) %>
      </div>
    </div>
    <div style='clear:both'></div>
  </div>

</div>
