<%= form_for(state_type) do |f| %>
  <% if state_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state_type.errors.count, "error") %> prohibited this state_type from being saved:</h2>

      <ul>
      <% state_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :metric %>
    <%= f.text_field :metric %>
  </div>

  <div class="field">
    <%= f.label :calculation %>
    <%= f.text_field :calculation %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
