<section class="container center px2 py4">
  <a name="benefits"></a>
  <div class="clearfix">
    <%= render partial: 'pages/landing/components/benefit', locals: {
      image: 'benefits/customer-service2_dk.png',
      title: 'Tell us your plans',
      description: "We will call you to discuss details, answer any questions and give you an estimated price."
    } %>
    <%= render partial: 'pages/landing/components/benefit', locals: {
      image: 'benefits/quote1_dk.png',
      title: 'Get an accurate quote',
      description: 'We will arrange a site visit with the most suitable professional who will provide you with a free quote.'
    } %>
    <%= render partial: 'pages/landing/components/benefit', locals: {
      image: 'benefits/house_renovate_dk.png',
      title: 'Renovate with confidence',
      description: 'Our network of contractors are hand-picked for their expertise and quality of work.'
    } %>
  </div>
</section>


<section>
  <div class="clearfix">
    <%= render partial: 'pages/landing/components/example_projects', locals: {
      image: 'recommendations/bathroom1.jpg',
      name: 'Nigel - Kensal Rise',
      project_type: 'New bathroom',
      comment: "A quality finnish from an efficent team"
    }%>
    <%= render partial: 'pages/landing/components/example_projects', locals: {
      image: 'recommendations/mews.jpg',
      name: 'Sophia - Notting Hill',
      project_type: 'Redecoration',
      comment: "The house feels brand new again thanks to Tom and his team"
    }%>
    <%= render partial: 'pages/landing/components/example_projects', locals: {
      image: 'recommendations/living.jpg',
      name: 'Angus - Fulham',
      project_type: 'Flat renovation',
      comment: "1ROOF made it so easy to get the project of to the perfect start"
    }%>
  </div>
</section>

<section class="container center px2 py4">
  <a href="<%= brief_path %>" class="h4 btn btn-big bg-yellow">Get a free quote now</a>
</section>

