<section class="container center px2 py4">
  <a name="benefits"></a>
  <div class="clearfix">
    <%= render partial: 'pages/landing/components/benefit', locals: {
      image: 'benefits/rates_transparent.png',
      title: 'Transparent rates',
      description: "Our unique tendering sofware creates quotes based on our pros individual rates."
    } %>
    <%= render partial: 'pages/landing/components/benefit', locals: {
      image: 'benefits/1roof_pro.png',
      title: 'Quality assurance',
      description: 'Our network of pros are hand-picked for their expertise and quality of work.'
    } %>
    <%= render partial: 'pages/landing/components/benefit', locals: {
      image: 'benefits/safe_terms.png',
      title: 'Safe terms',
      description: 'Our network of pros are insured and provide guarantees for all their work.'
    } %>
  </div>
</section>

<!-- project Section -->
<section class="center">
  <a name="perfect_for"></a>
  <h1 class="h1-responsive px2 py4">Specialists for every project</h1>
  <div class="clearfix">
    <%= render partial: 'pages/landing/components/example_projects', locals: {
      image: 'recommendations/bathroom1.jpg',
      name: 'Bathroom fittings',
      project_type: 'New bathroom',
      comment: "A quality finnish from an efficent team"
    }%>
    <%= render partial: 'pages/landing/components/example_projects', locals: {
      image: 'recommendations/mews.jpg',
      name: 'Full refurbs',
      project_type: 'Redecoration',
      comment: "The house feels brand new again thanks to Tom and his team"
    }%>
    <%= render partial: 'pages/landing/components/example_projects', locals: {
      image: 'recommendations/kitchen.jpg',
      name: 'Kitchen renovations',
      project_type: 'Kitchen',
      comment: "1ROOF made it so easy to get the project of to the perfect start"
    }%>
  </div>
</section>

<!-- pros Section -->
<section class="center">
  <a name="recommendations"></a>
  <h1 class="h1-responsive px2 py4">Meet the pros</h1>
  <div class="clearfix">
      <%= render partial: 'pages/landing/components/our_pros', locals: {
      image: 'pros_homepage/clinton_may_h.jpg',
      name: 'Clinton May',
      link: '/pages/pros/clinton_may',
      comment: "Originally from Devon, Clinton now has been working in south-east London for over 10 years. He and his team specialise in loft conversions and extensions."
    }%>
      <%= render partial: 'pages/landing/components/our_pros', locals: {
        image: 'pros_homepage/ben_barnard_h.jpg',
        name: 'Ben Barnard',
        link: '/pages/pros/ben_barnard',
        comment: "Ben and his team specialise in supplying and fitting bespoke kitchens. They do the majority of their work south-west and central London."
      }%>

      <%= render partial: 'pages/landing/components/our_pros', locals: {
        image: 'pros_homepage/sandel_muscat_h.png',
        name: 'Sandel Muscat',
        link:'/pages/pros/sandel_muscat',
        comment: "Sandel is based in North East london and specialises in renovations. With over 10 years hands on experiece he now focuses on running his teams and keeping customers happy."
      }%>
  </div>
</section>


<section class="container center px2 py4">
  <a href="<%= brief_path %>" class="h4 btn btn-big bg-yellow">Get a free quote now</a>
</section>

