<section class="container center px2 py4">
  <a name="benefits"></a>
  <div class="clearfix">
    <%= render partial: 'pages/landing/components/benefit', locals: {
      image: 'benefits/project_hub1_dk.png',
      title: 'Tell us your plans',
      description: "We arrange a call to discuss any details or unknowns and give you an estimated price"
    } %>
    <%= render partial: 'pages/landing/components/benefit', locals: {
      image: 'benefits/quotes_dk.png',
      title: 'Get an accurate quote',
      description: 'We arrange a site visit with the most suitable professional who provides you with a free quote'
    } %>
    <%= render partial: 'pages/landing/components/benefit', locals: {
      image: 'benefits/payment_schedule_dk.png',
      title: 'Renovate with confidence',
      description: 'Our network consist of only the best handpicked contractors providing itemised quotes'
    } %>
  </div>
</section>


<section>
  <div class="clearfix">
    <%= render partial: 'pages/landing/components/recommendation', locals: {
      image: 'recommendations/living.jpg',
      name: 'Nigel',
      project_type: 'Redecoration',
      comment: "I found Sam through 1ROOF who did a great job with my redecoration."
    }%>
    <%= render partial: 'pages/landing/components/recommendation', locals: {
      image: 'recommendations/bathroom.jpg',
      name: 'Zosia',
      project_type: 'Kitchen Refurb',
      comment: "1ROOF's recommended builder was punctual and his quote was broken down and easy to understand"
    }%>
    <%= render partial: 'pages/landing/components/recommendation', locals: {
      image: 'recommendations/kitchen.jpg',
      name: 'Richard',
      project_type: 'Loft conversion',
      comment: "The 1ROOF pro stood out by a mile in part thanks to a broken down price and plan."
    }%>
  </div>
</section>

<section class="container center px2 py4">
  <a href="<%= brief_path %>" class="h4 btn btn-big bg-yellow">OK I'm ready. Let's get started!</a>
</section>

