<div class="col-12">
  <div class="clearfix sm-flex flex-center">
    <div class="sm-col sm-col-8 <%= 'sm-col-right' if reverse %> px2 flex-auto">
      <h2 align="left"><%= title %></h2>
      <p align="left"><strong><%= description %></strong></p>
    </div>
    <div class="sm-col sm-col-4 px2 <%= reverse ? 'flex-last' : 'flex-first' %>">
      <img src="<%= image_path image %>" class="max-height-2"/>
    </div>
  </div>
</div>
