<%= form_for(:person, {
  url: api_people_path,
  html: {
    class:"sm-col-7 md-col-5 left-align mx-auto mb4 p3 bg-lighten-4 black border adwords-form",
  },
  remote: true
  }) do |f| %>

  <h4 class="mt0 mb2 center">Arrange a free phone consultation</h4>

  <%= f.hidden_field :source, value: :adwords %>
  <%= f.hidden_field :meta, value: params.to_json %>

  <div class="clearfix mxn2">
  <div class="sm-col sm-col-6 px2">
  <%= f.label :first_name %>
  <%= f.text_field :first_name,
    class: "block col-12 mb2 field",
    autofocus: true
    %>
  </div>
  <div class="sm-col sm-col-6 px2">
  <%= f.label :last_name %>
  <%= f.text_field :last_name,
    class: "block col-12 mb2 field"
    %>
  </div>
  </div>

  <%= f.label :phone %>
  <%= f.phone_field :phone,
    class: "block col-12 mb2 field"
  %>
  <p class="h6 mb2">We never pass your details to 3rd parties.</p>



  <%= f.label :project_type %>
  <%= f.select :project_type, ga_project_types.map{|s| [s.titleize, s]}, {selected: params[:project_type]}, {class: 'block col-12 field mb2'} %>

  <%= f.button "Arrange a Callback", type: "submit", class: "block col-12 btn btn-big btn-primary" %>
<% end %>
