<td>
    <% if rate.item_action %>
        <%= rate.item_action.name %>
    <% end %>
</td>
<td>
    <%= rate.item.name %>
</td>
<td>
    <% if rate.item_spec %>
        <%= rate.item_spec.name %>
    <% end %>
</td>
<% if current_page?(action: 'index') %>
    <td>
        <%= rate.formatted_rate %>
    </td>
    <td>
        <%= link_to "Edit", edit_rate_path(rate) %>
    </td>
<% else %>
    <td>
        <%= form_for @rate do |f| %>
        <%= f.text_field :rate, value: @rate.formatted_rate %>
    </td>
    <td>
        <%= f.submit %>
        <% end %>
    </td>
<% end %>
